.eco-duty-status {
  .description {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;

    & > div {
      & > p {
        margin-top: 5px;
      }
    }

    .status {
      .green {
        color: var(--color-primary);
      }
    }
  }
}