<div class="container-fluid">
    <div class="login-page row">
        <form id="login" class="col-lg-7 d-flex align-items-center" [formGroup]="form" (ngSubmit)="resetPassword()">
            <div class="col-10 offset-1 py-3">
                <div class="row">
                    <div class="col-12">
                        <div class="mb-5">
                            <h1 class="mb-4">{{ title }}</h1>

                            <p class="p3">Redefinicção de senha</p>
                        </div>
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="col-12">
                        <nhe-input label="Email">
                            <input appInputRef class="form-control" type="email" formControlName="email"
                                id="input-email" />
                        </nhe-input>
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="col-12">
                        <nhe-input label="Senha">
                            <input appInputRef class="form-control" type="password" formControlName="password"
                                id="input-password" required />
                        </nhe-input>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-12">
                        <nhe-input label="Confirmar Senha" [ngClass]="{ 'has-error': !isSamePassword() }">
                            <input appInputRef class="form-control" type="password"
                                formControlName="password_confirmation" id="input-password-confirmation" required />
                        </nhe-input>
                        <small class="text-danger" *ngIf="!isSamePassword()">
                            As senhas não são iguais
                        </small>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div *ngIf="errorHttp" class="alert alert-danger p3">{{ errorHttp }}</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-success w-100 mb-3 py-3 btn-submit"
                            [disabled]="form.invalid || form.disabled">
                            Resetar senha
                        </button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="p3 text-center">Lembrou da senha? <a [routerLink]="['/login']"
                                class="a-register">Tente logar novamente</a></div>
                    </div>
                </div>
            </div>
        </form>

        <div id="img-login" class="col-lg-5 d-none d-lg-block" [style]="'background-image: url(' + image + ')'"></div>
    </div>
</div>